/* ---------- root variables ---------- */
:root {
  --green: #3D5386;
  --dark-blue: #201E2E;
  --light-green: #ff684f;
  --light-grey: #201E2E;
  --text-color-light: #fff;
  --text-color-dark:  #fff;
  --font-family: Helvetica, Arial, sans-serif;
}



/* ---------- Main styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* ---------- Topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 14px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 46px;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 20px;

}
.left{
  width: 80%;
}

.left img {
  width: 30%;
}

.topbar a.right {
  right: 20px;
  color:#fff;
     font-family: 'Doppio One';
}

a.left img {
  width: 15%;
   position: absolute;
   top: 8px;
   left: 16px;
}

/* ---------- Tabbar styling ---------- */
.tabbar {
  background-color: var(--dark-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  margin-bottom:-0.5%;
}

/*------ Style the links inside the navigation bar -------*/

.tabbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
  text-align: center;
  width: 50%;
  height: 14%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.tabbar a img {
width: 50px;
height: 50px;
}


/*-------- Add a color to the active/current link ----*/
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}


/* ------- Welcome Page ------*/



#welcome-page img {
  width: 100%;
}


/* ---------- loading button ---------- */


/* slider for the filters*/


.swiper-wrapper {
  align-items: center;
  margin: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}


.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  transform: scale(1.2);
  transition: .4s;
}

/* ---------- randomize button ---------- */

.random_button {
  border: none;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 13%;
  padding-right: 13%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 19px;
  font-family: 'Doppio One';
  text-transform: uppercase;
  -webkit-animation:name 15s infinite;
}
@-webkit-keyframes name {
  0% {
    background-color: #5FAD88;
    color: #fff;
  }

  16.66% {
    background-color: #FAAB68;
    color: #ffff;
  }

  33.33% {
    background-color: #3D5386;
    color: white;
  }
49.99% {
  background-color: #FC6851;
  color: white;
}
  66.65% {
    background-color: #5C609A;
    color: white;
  }
  83.3% {
    background-color: #005A51;
    color: white;
  }
  100% {
    background-color: #5FAD88;
    color: white;
  }
}

/*---------- Heart button ---------*/
.likeheart {
  width: 100%;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10%;
  top:14.5%;
  transform: translate(-50%, -50%);
  background: url('https://cssanimation.rocks/images/posts/steps/heart.png') no-repeat;
  z-index:9999;  

  
}
.heart-blast {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}



/* ---------- play/pause button ---------- */

  .play-container {
    background-color: #3D5386;
    height: 20px;
    margin-bottom: 20px;
    margin-top:0;
  }
  

/* --------- Home page -------------*/
#video-container {
  width: 100%;
  margin-top: 5%;
}
#video {
   width: 100%;
  margin-top: 5%;
}

.mideo-logo {
  width: 130px;
}

#divVideo {
  width: 100%;
  margin-bottom: -1%;
}
/*------------ Share button --------*/

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius:50%;
  color:#fff;
  width: 35px;
  height: 35px;
  border: none;
  z-index: 2;
  font-size: 1.5em;
  text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  top:90px;
  right:20px;
  display: inline-block;
  z-index: 9999;
  font-family: 'Doppio One';
}

/* Dropdown Content (Hidden) */
.dropdown-content {
  display: none;
  position: absolute;
  right:5px;
  background-color:  #ff684f;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:#fff;
  padding: 10%;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on click ----*/
.dropdown-content a:click
{background-color: #ff684f;}

/*------ Show the dropdown menu on click */
.dropdown:hover .dropdown-content,.dropdown:active .dropdown-content  {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn, .dropdown:active .dropbtn {
  background-color:#ff684f;
}

  
 




/* ------ Filters / Category -----*/


#filters-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

#filters-wrap ul {
padding:1% 0;
  margin: auto;
  display: block;
}

#filters-wrap li {
  list-style: none;
  display: inline;
  padding-top: 10%;
}

#filters-wrap li img {
 box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.445);
 border-radius: 25px;
 width:44%;
 margin:0 2% 5% 2%;
 
}

 .heading h3,
 p,
 #saved-vid-container h3, p {
   text-align: left;
   padding-inline-start: 6%;
   width: 50%;
   font-family: 'Doppio One',
   sans-serif;
 }

 .heading h3,
 #saved-vid-container h3 {
   color: #fff;
   font-size: 1.7rem;
   margin-bottom: 2%;
 }

  .heading p,
  #saved-vid-container p {
    color: #FAAB68;
    margin-top: 2%;
  }

  .heading {
    margin-top: 10%;
  }


/*------------ Saved page -----------*/
 

#saved-vid-container p {
  margin: 2% 0 0 0;
  text-align: left;

}
#saved-library {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

#saved-library li {
  width: 40%;
  margin: 2% 2%;
  list-style: none;
}



/* ---------- logo styling ---------- */


/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- input form styling ---------- */
form {
  padding: 2em 1em 2.5em;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(#ff684f);
  width: 100%;
  max-width: 350px;
}

article button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 8px;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 40%;
}

article button.rm {
  background-color: var(--light-green);
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}

.grid-container>article h3 {
  font-weight: 200;
}

.image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

/* ---------- Authentication styling ---------- */

/*-------- Login ------*/
#login {
background: rgb(49,135,93);
background: linear-gradient(138deg, rgba(49,135,93,1) 0%, rgba(105,145,173,1) 45%, rgba(117,40,158,1) 100%);
}

.firebaseui-title {
  color:#ff684f;
  font-family: 'Quicksand', sans-serif;
}

.mdl-textfield--floating-label .mdl-textfield__label {
  color:#ff684f;
    font-family: 'Quicksand', sans-serif;
}
#login-logo img {
  width: 100%;
}

#login-logo {
  width: 70%;
  margin-top: 0;
  margin: auto;
  display:block;
}

/*---------- sign up-------*/
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius:0px 50px;

}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
  border-radius:0px 50px;
  font-family: 'Quicksand', sans-serif;
  mix-blend-mode: color-dodge;
  background-color:rgb(255, 255, 255);
  margin-top: 15%;
  

}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored{
  background-color:#ff684f ;
    font-family: 'Quicksand', sans-serif;
    border-radius:0px 10px;
}
.mdl-button--raised.mdl-button--colored:active {
  background-color:#3D5386;
  color:#fff;
  border-radius: 0;
    font-family: 'Quicksand', sans-serif;
    border-radius:0px 10px;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
  color:#ff684f;
}